*.gcda
*.gcno
*.gcov
*.log
*.o
*.trs
.deps
.dirstamp
/*.pc
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/bin
/compile
/config.status
/configure
/coverage
/depcomp
/deps
/fmt.pc
/install-sh
/lib
/missing
/test-driver
